.whats-comp{
    background-color: #cfd8fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .whats{
        margin: 3vw;
        gap: 3vw;


        .titu{
            font-size: 3vw;
            width: 60vw;
            color:#7278b1;
            
        }
        img{
            width: 30vw;
            margin-left: 10vw;
            
        
        }
        .simnao{
            display: flex;
            flex-direction: row;
            gap: 2vw;
            align-items: center;
            margin-left: 20vw;

            .sim{
                color: green;
                font-size: 2vw;
                text-decoration: none;
                 font-weight: 900;

            }
            .nao{
                color: rgb(128, 0, 0);
                font-size: 2vw;
                text-decoration: none;
                font-weight: 900;
            }
        }

    }
    @media(max-width: 468px){
        .whats{
            margin: 3vw;
            margin-top: 30vw;
            gap: 3vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
    
            .titu{
                font-size: 4vw;
                width: 60vw;
                color:#7278b1;
                
            }
            img{
                width: 60vw;
                margin-right: 20vw;
            
            
            }
            .simnao{
                display: flex;
                flex-direction: row;
                gap: 2vw;
                align-items: center;
                margin-right: 30vw;
    
                .sim{
                    color: green;
                    font-size: 3.5vw;
                    text-decoration: none;
                     font-weight: 900;
    
                }
                .nao{
                    font-size: 3.5vw;
                    text-decoration: none;
                    font-weight: 900;
                }
            }
    
        }
    }
    @media(max-width: 768px){
        .whats{
            margin: 3vw;
            margin-top: 30vw;
            gap: 3vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
    
            .titu{
                font-size: 3.5vw;
                width: 60vw;
                color:#7278b1;
                
            }
            img{
                width: 60vw;
                margin-right: 20vw;
            
            
            }
            .simnao{
                display: flex;
                flex-direction: row;
                gap: 2vw;
                align-items: center;
                margin-right: 30vw;
    
                .sim{
                    color: green;
                    font-size: 3vw;
                    text-decoration: none;
                     font-weight: 900;
    
                }
                .nao{
                    font-size: 3vw;
                    text-decoration: none;
                    font-weight: 900;
                }
            }
    
        }
    }
    
}