.pagina-sobre{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .faixa{
        width: 100%;
        height: 40vw;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
       

        .fundo
        {
            position: relative;
            width: 60%;
            height: 40vw;
        }
    }

    .cartaotexto{
        padding: 3vw;
        padding-left: 10vw;

        .cardizinho{
        background-color: #E5DBEB;
        width: 80vw;
        height: 45vw;
        border-radius: 15px;
        border: 1px solid #000;
        align-content: center;
        justify-content: center;

        h1{
            text-align: center;
            color: #430D6D;
            font-weight: 600;
            font-size: 2.6vw;
            font-family: 'Ubuntu', sans-serif;   
           
        }
        p{
            font-size: 2.2vw;
            padding: 5vw;
            padding-top: 1vw;
            text-align: center;
            text-wrap: wrap;
            font-family: 'Montserrat', sans-serif;    
            font-weight: 400;
            text-align: justify;
            line-height: 160%;
          
        }
    }
    }
    
    .texto3{
        width: 50vw;
        padding: 5vw;
        padding-left: 20vw;

        p{
          
            text-align: center;
            color: #000000;
            font-weight: 700;
            font-size: 3vw;
            padding-top: 1vw;
            padding-left: 3vw;
            padding-bottom: 2vw;
            text-wrap: wrap;
            font-family: 'Montserrat', sans-serif;



        }
    }
    .textlupa{
       
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
        padding: 0vw 5vw 5vw 5vw;
        gap: 1vw;

        .h1{
            font-weight: 800;
            color: #B314DB;
            width: 20vw;
            font-size: 2vw;
        }
        .imglupa{
            width: 13vw;
            height: 14vw;
        }
        
    }
    .cartaotexto2{
        background-color: #E5DBEB;
        width: 70vw;
        height: 30vw;
        border-radius: 15px;
        border: 1px solid #000;
        margin: 4vw;
        margin: 3vw  15vw  3vw 15vw   ;
       
        .conteudo{
        display: flex;
        flex-direction: row;

        .imagem{
            width: 50vw;
            height:30vw;
            border-radius: 15px;

        }


        .texto{
            font-family: 'Montserrat', sans-serif;    
            font-weight: 400;
            font-size: 1.7vw;
            padding: 3vw;
            text-align: center;
            text-wrap: wrap;
            text-align: justify;
            line-height: 130%;

            
        }

    }
    }

    .cartaoautonomo{
        background-color: #E5DBEB;
        width: 70vw;
        height: 30vw;
        border-radius: 15px;
        border: 1px solid #000;
        margin: 4vw;
        margin: 3vw  15vw  3vw 15vw   ;
       
        .cont{
        display: flex;
        flex-direction: row;

        .gislaine{
            width: 20vw;
            height:20vw;
            padding-top: 4vw;
            padding-left: 3vw;
          
            

        }


        .textautonomo{
            .textogislaine{
            font-family: 'Montserrat', sans-serif;    
            font-weight: 400;
            font-size: 1.7vw;
            padding: 0vw 1.5vw 1.5vw 2.3vw;
            text-align: center;
            text-wrap: wrap;
            width: 40vw;
            text-align: justify;
            line-height: 130%;
            }

            .titulogis{
                text-align: center;
                padding: 2vw;
                padding-bottom: 0.5vw;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 600;
                color: #240A39;
                font-size: 2vw;
            }
            
        }

    }
    }




    .rodape{
        padding: 5vw;
        background-color:#2F2F2F;
        width: 100%;
        

        img{
            width: 50vw;
        }

    }

    @media (max-width: 768px) {

        .cartaotexto{
            .cardizinho{
                justify-content: center;
                padding: 3vw;
                width: 50vw;
                height: 65vw;
                margin: 12vw;
                border: 1px solid #c1aad8;

                h1{
                    font-size: 2.4vw;
                }
                p{
                    font-size: 2.4vw;
                    width: 40vw;
                }
            }
        }
  
        .texto3{ //texto pretinho
            p{
                text-align: center;
                width: 50vw;
                font-size: 4vw;
            }
         
        }
        .textlupa{ // texto e imagem da lupa
            .h1{
                font-size: 3vw;
                padding: 1vw;
                text-wrap: wrap;

            }
            .imglupa{
                width: 20vw;
                height: 20vw;
                padding: 2vw;
            }
        }
        .cartaotexto2{ //card com foto da mulher virando em coluna
            justify-content: center;
            padding: 2.4vw;
            width: 50vw;
            height: 60vw;
            margin: 12vw;
            margin-left: 20vw;
            border: 1px solid #c1aad8;
            .conteudo{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            justify-content: center;
            .texto{
                width: 40vw;
                margin: 0;
                padding: 2vw;
                text-align: center;
                text-wrap: wrap;

                p{
                    font-size: 2.4vw;
                    line-height: 3.1VW;
                }


            }
            .imagem{
                width: 40vw;
                height: 20vw;
        
            }
         
        }}
        
    
        .cartaoautonomo{ // Gislaine NAO QUER MUDAR O TAMANHO DA FONTEEEEE
            justify-content: center;
            padding: 2vw;
            width: 50vw;
            height: 60vw;
            margin: 12vw;
            margin-left: 20vw;
            border: 1px solid #c1aad8;

            .cont{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
                justify-content: center;

            }
            .textoautonomo{
                width: 30vw;
                margin: 0;
                padding: 1vw;
                text-align: center;

                
                .textogislaine{
                    .titulogis{
                    font-size: 2.4vw;
                    }
                    .textogislaine{
                        font-size: 2.4vw;
                    }
                }    
                

            }


    
    
            
        }}
        @media (max-width: 468px) {

            
        .cartaotexto{
            .cardizinho{
                justify-content: center;
                padding: 3vw;
                width: 50vw;
                height: 70vw;
                margin: 12vw;
                border: 1px solid #c1aad8;

                h1{
                    font-size: 3vw;
                }
                p{
                    font-size: 2.5vw;
                    width: 40vw;
                }
            }
        }

            .texto3{ //texto pretinho
                p{
                    text-align: center;
                    width: 50vw;
                    font-size: 3.5vw;
                }
             
            }
            .textlupa{ // texto e imagem da lupa
                .h1{
                    font-size: 3vw;
                    padding: 1vw;
                    text-wrap: wrap;
    
                }
                .imglupa{
                    width: 20vw;
                    height: 20vw;
                    padding: 2vw;
                }
            }
            .cartaotexto2{ //card com foto da mulher virando em coluna
                justify-content: center;
                padding: 2.4vw;
                width: 50vw;
                height: 60vw;
                margin: 12vw;
                margin-left: 20vw;
                border: 1px solid #c1aad8;
                .conteudo{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
                justify-content: center;
                .texto{
                    width: 35vw;
                    margin: 0;
                    padding: 2vw;
                    text-align: center;
                    text-wrap: wrap;
    
                    p{
                        font-size: 2.4vw;
                        line-height: 3.1VW;
                    }
    
    
                }
                .imagem{
                    width: 45vw;
                    height: 20vw;
            
                }
             
            }}
            
        
            .cartaoautonomo{ // Gislaine NAO QUER MUDAR O TAMANHO DA FONTEEEEE
                justify-content: center;
                padding: 3vw;
                width: 50vw;
                height: 55vw;
                margin: 12vw;
                margin-left: 20vw;
                border: 1px solid #c1aad8;

                .cont{
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
    
                }
                .textoautonomo{
                    width: 30vw;
                    margin: 0;
                    padding: 1vw;
                    text-align: center;
    
                    
                    .textogislaine{
                        .titulogis{
                        font-size: 2.7vw;
                        }
                        .textogislaine{
                            font-size: 2.5vw;
                        }
                    }    
                    .gislaine{
                        width: 6vw;
                        padding-top: 2vw;
                    }
    
                }
            }
       }    


}


     