a{
    text-decoration: none;
}
.page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 468px){
       min-height: 100vh;
    }

.not{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icone-not-found{
        position: relative;
        z-index: -1;
        width: 40vw;
        @media (max-width: 468px){
            width: 100vw;
        }
    }
}






}