.porco-comp{
    .porquinho{
        display: flex;
        flex-direction: row;
        gap: 2vw;
        padding: 1vw;
        padding-left: 3vw;
        align-items: center;
        .b1{
            background-color: #edcffe;
            width:11vw;
            padding: 1vw;
            border-radius: 40px;
            font-size: 1.5vw;
            font-weight: 800;
            border: none;
           
            } 
            .b1:hover{
                
                background-color: #2f1546;
                transform: translateY(-2px);
                transition: all 0.3s ease;
                color: #edcffe; 
        }
        .b2{
            background-color: #cfd8fe;
            width: 11vw;
            padding: 1vw;
            border-radius: 40px;
            font-size: 1.5vw;
            font-weight: 800;
            border: none;
            
            }.b2:hover{
                
                background-color: #b25b9d;
                transform: translateY(-2px);
                transition: all 0.3s ease;
                color: #edcffe;
               
              
        }
    }

    @media(max-width:768px){
        .porquinho{
            padding: 2vw;
            display: flex;
            flex-direction: column;
            .b1{
                border-radius: 20px;
                font-size: 2vw;
                font-weight: 800;
                width: 23vw;
    
            }
            .b2{
                width: 23vw;
                border-radius: 20px;
                font-size: 2vw;
                font-weight: 800;
    
    
    
            }
        }

    }

}