.visaogeral {
    background-color: #E5DBEB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3vw 9vw;
    padding: 4vw;
    gap: 3vw;
    width: 73.5%;
    border-radius: 10px;
}

.carrossel {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    gap: 3vw;

    .comp-visao-geral {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;

        .cards-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        
        .card {
            display: flex;
            flex-direction: column;
            background-color: #FDF7FE;
            text-align: center;
            width: 10vw;
            height: 7vw;
            padding: 1vw 3vw 5vw 3vw;
            border-radius: 2vw;

            h1 {
                font-family: 'Ultra', sans-serif;
                color: #4B1972;
                font-weight: 400; 
                font-size: 1.3vw;
            }
            h2 {
                color: #59446b;
                font-weight: 900;
                font-size: 1.2vw; 
            }
            h3 {
                color: #841B86;
                font-weight: 900; 
                font-size: 1.3vw;
            }
        }

        .vagas-todas {
            display: flex;        
            flex-wrap: nowrap;   
            gap: 3vw;            
        }
    }

    button {
        display: flex;
        align-items: center; 
        border: none; 
        background-color: transparent; 
        cursor: pointer; 
        
}
}   
