
.duvida{
    display: flex;
    flex-direction: column;
    width: 10vw;
    gap: 0.3vw;

    
    .botaopergunta{
        background-color:#E5DBEB;
        border: 1px solid #E5DBEB;
        border-radius: 10px;
        color: #000000;
        font-size: 0.7vw;
        font-weight: 600;
        padding: 10px;
    }
    .botaoresposta{
        button{
        background-color: #b06db6;
        border: 1px solid #b06db6;
        border-radius: 10px;
        color: #fff;
        padding: 10px;
        margin: 0.3vw;
        padding: 0.4vw 4vw;
        font-size: 0.7vw;
        
        } 

      
    }
}