.lisa-secao{


    .botons{
        display: flex;
        flex-direction: row;  
        
    .lisa{
     width: 12vw;
    }
   .lisamsg{
        display: flex;
        flex-direction: column;
        .butao{
        background-color: #E5DBEB;
        flex-direction: column;
        display: flex; 
        border-radius: 40px;
        margin-bottom: 1.5vw;
        border: 1px solid #e5e0e6;

        p{
            font-size: 1.5vw;
            font-weight: 500;
            text-align: justify;
            width: 25vw;
            padding: 2vw;
        }

        }
    }
}
    .perguntas{

        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        .user{  
        width: 6vw;
        }

        .botoes{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1.3vw;
            padding-bottom: 5vw;
            padding-top: 1vw;



            .lala{
                background-color: #b06db6;
                color: #fff;                
                border-radius: 30px;
                border: 1px solid #E5DBEB;
                width: 25vw;

                p{
                    padding: 2vw;
                    font-size: 1.5vw;
                }
                
        }

        .outro{
            background-color: #78377e;
            border-radius: 30px;
            border: 1px solid #E5DBEB;
            width: 25vw;
            height: 10vw;

            .a{
                padding: 2vw;
                font-size: 1.5vw;
                text-decoration: none;
                color: #fff;                


            }
            

        }

    }
    }

    @media(max-width:768px){
        .botons{
            display: flex;
            flex-direction: row;  
            
        .lisa{
            width: 16vw;
        }
       .lisamsg{
            display: flex;
            flex-direction: column;
      
            .butao{
            margin: 1vw;
            width: 55vw;
    
            p{
                font-size: 2.5vw;
                font-weight: 500;
                padding: 2vw;
                width: 45vw;

            }
    
            }
        }
    }
        .perguntas{
            .user{    
            width: 10vw;
            }
    
            .botoes{
                gap: 0.8vw;
                padding-top: 1vw;
                padding-bottom: 5vw;
                width: 55vw;

    
    
                .lala{
                    border-radius: 30px;
                    width: 55vw;

                    p{
                        font-size: 2.5vw;
                        padding: 1vw;
                    }
    
    
            }
            .outro{
              
                width: 55vw;
                height: 10vw;
    
                .a{
                    padding: 1vw;
                    font-size: 2.5vw;
                    text-decoration: none;
    
    
                }
                
    
            }
    
    
        
        }}

    }


    @media(max-width:468px){
        .botons{
            display: flex;
            flex-direction: row;  
            
        .lisa{
            width: 16vw;
        }
       .lisamsg{
    
            display: block;
      
            .butao{
            margin: 1vw;
            border: 1px solid #e5e0e6;
            width: auto;
            width: 55vw;

    
            p{
                font-size: 2.5vw;
                font-weight: 500;
                padding: 2vw;
            }
    
            }
        }
    }
        .perguntas{
    
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            .user{
                img{
                    width: 6vw;
    
                }
            }
    
            .botoes{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 0.5vw;
                padding-top: 1vw;
                padding-bottom: 5vw;
    
    
                .lala{
                       
                    border: 1px solid #E5DBEB;
                    width: 55vw;

            
                    p{
                        padding: 2vw;
                        font-size: 2.5vw;
                        width: 45vw;
                    }
    
    
            }
            .outro{
              
                width: 55vw;
                height: 10vw;
    
                .a{
                    padding: 1vw;
                    font-size: 2.5vw;
                    text-decoration: none;
    
    
                }
                
    
            }
    
    
        
        }}

    }
}