

.robo-secao{

    .cont-robo{
    align-items: center;
    margin: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 1.3vw;

        .resposta{
            display: flex;
            flex-direction: row;
            font-size: 1vw;
            .respondendo{
                display: block;
                p{
                    padding: 2vw;
                    font-weight: 500;
                    font-size: 1vw;
                    max-width: 20vw;
                    width: 8vw;
                }

            }

            .lala{
            display: block;
            gap: 1.3vw;
            .resp{
                border: 1px solid #E5DBEB;
                background-color:#E5DBEB ;
                border-radius: 10px;
                display: block;
                margin: 0.3vw;
                p{
                    padding: 2vw;
                    font-weight: 500;
                    font-size: 1vw;
                    max-width: 15vw;
                }

            }}
            .lalis{
            img{
                width: 7vw;
            }}
        }


}
}
@media (max-width: 768px) {
    .cont-robo
    {
        align-items: center;
        justify-content: center;
        gap: 1vw;

        .resposta{
            font-size: 1.5vw;

            .respondendo{
                display: block;
                p{
                    padding: 1vw;
                    font-weight: 500;
                    font-size: 1.5vw;
                    max-width: 20vw;
                    width: 8vw;
                }

            }
        }
    }
}