

.robo-secao{

    .cont-robo{
    align-items: center;
    margin: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 0.3;

        .resposta{
            display: flex;
            flex-direction: row;
            font-size: 0.7vw;
            .respondendo{
                display: block;
                p{
                    padding: 7px;
                    font-weight: 700;
                    font-size: 0.7vw;
                    max-width: 10vw;
                    width: 8vw;
                }

            }

            .lala{
            display: block;
            gap: 0.3vw;
            .resp{
                border: 1px solid #E5DBEB;
                background-color:#E5DBEB ;
                border-radius: 10px;
                display: block;
                margin: 0.3vw;
                p{
                    padding: 7px;
                    font-weight: 700;
                    font-size: 0.7vw;
                    max-width: 15vw;
                }

            }}
            .lalis{
            img{
                width: 6vw;
            }}
        }


}
}