body{
    background-color: #e7b1ec;

}

.robo-secao{

    .cont-robo{
    align-items: center;
    margin: 4vw;
    gap: 0.3;

        .resposta{
            display: flex;
            flex-direction: row;
            .lala{
            display: block;
            gap: 0.3vw;
            .resp{
                background-color: #f5d9f8;
                border-radius: 10px;
                display: block;
                margin: 0.3vw;
                p{
                    padding: 2px;
                }

            }}
            .lalis{
            img{
                width: 6vw;
            }}
        }


}
}