.cartao-gg{
    .tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ultimo{
        
        width: 60vw;
        height: 40vw;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        background-size: 60vw;

        
        .conteudo{
            display: flex;
            padding-top: 5vw;
            padding-left: 2vw;
            

            .choquei{
              

                .inputs{
                    display: flex;
                    flex-direction: row;
                    gap: 1vw;
                    .quadrado{
                        display: flex;
                        flex-direction: column;
                
                    .oioio{
                        padding: 1.3vw 1vw;
                        width: 14vw;
                        border-radius: 20px;
                        outline: none;
                        font-size: 1.3vw;
                        background-color: #ffffffab;
                        border: 0.2vw solid #C7C4C4;
                        box-shadow: 0.2vw 0.2vw 2px #b3b3b357;
                    }
                    p{
                        font-size: 1.5vw;
                        font-weight: 900;
                        color: #8D60B2;
                    } 
                }
                }
            }
            .botao{
              
                display: flex;
                justify-content: end;
                padding-top: 3vw;

                button{
                    border: none;
                    background-color: #8D60B2;
                    color: #ffffff;
                    padding: 1.3vw 5vw;
                    border-radius: 20px;
                    font-size: 1vw;
                    font-weight: 900;
                    margin: 3vw 0;
                  
                }
                button:hover{
                
                    background-color: #240A39;
                    transform: translateY(-2px);
                    transition: all 0.3s ease;
                   
                  
            }
            }
            .final-cartao {
                display: flex;
                justify-content: space-between;
            .estimado{
                   display: flex;
                   flex-direction: column;

                    h3 {
                        font-size: 1.5vw;
                        text-transform: uppercase;
                        margin: 0;

                    }
                    p {
                        font-size: 1.2vw;
                        font-weight: 400;
                    }
            }    
            .opcao {
                    display: flex;
                    align-items: start;
                    gap: 1vw;
                    margin-right: 0.5vw;
                    h3 {
                        font-size: 1.2vw;
                  
                        margin: 0;

                    }
                    input{
                        margin-top: 0.5vw;
                        width: 1vw;
                        height: 1vw;
                    }
            }     
            }
            
            
        }

    }

    .receita{
        display: flex;
        flex-direction: row;
        background-color: #8D60B2;
        border-radius: 40px;
        width: 60vw;
        justify-content: center;
        align-items: center;
        margin: 2vw;
        gap: 18vw;
        border: none;
        box-shadow: 0.5vw 0.5vw 2px #C7C4C4;
        .separacao1{
            display: flex;
            flex-direction: column;
            font-size: 1vw;
            padding: 0;
            text-align: left;
            h1{
                color: #E5DBEB;
                font-weight: 900;
            }
            p{
                color: #E5DBEB;
                font-weight: 400;
                font-size: 1.5vw;
            }
        }
        .separacao2{
            display: flex;
            flex-direction: column;
            font-size: 1.5vw;
            gap: 15vw;
            padding: 2vw;

            img{
                width: 4vw;
                background-color: #E5DBEB;
                padding: 1vw;
                border-radius: 40%;
            }
            h1{
                color: #E5DBEB;
                font-weight: 400;
                font-size: 1.5vw;
            }
        }
    }

    .butt{
        padding: 1vw 2vw;
        background-color: #8D60B2;
        border: #8D60B2;
        color: #E5DBEB;
        font-weight: 700;
        font-size: 1.5vw;
    }

    .line {
        width: 60vw;
        height: 1vw;
        border-radius: 5px;
        background-color: #E5DBEB;
        margin: 2vw;
    }
    .pagamentos{
        .porco{
            display: flex;
            align-items: center;
            gap: 1vw;
            padding: 1.5vw;
            background-color: #EFCAFE;
            font-size: 1.4vw;
            font-weight: 900;
            border-radius: 30px;

            .porcoimg{
                width: 2vw;
                
            }
        }
        .pix{
            font-weight: 800;
            font-size: 1vw;
            border-radius: 20px;

        }

    }
}
}