.pagina-vagas {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .topo {
        margin-top: 20px;
    }

    .botooes1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-container {
            position: relative;
            width: 50%; 
            display: flex;
            align-items: center;
            margin: 2vw 0vw;

            .oi {
                position: absolute;
                left: 1.5vw;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(94, 94, 94);
                font-size: 1.5vw;
                pointer-events: none;
            }

            input {
                width: 100%;
                padding: 1vw 1.5vw 1vw 4vw;
                font-size: 1.3vw;
                border: none;
                outline: none;
                background-color: #e5dbeb;
                border-radius: 1.5vw !important;
                color: rgb(94, 94, 94);
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease;

                &:focus {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                }
            }

            button {
                margin-left: 1vw;
                padding: 1vw 2vw;
                font-size: 1.3vw;
                background-color: #b54fcf;
                color: #fff;
                border: none;
                border-radius: 1vw;
               
              
            }
        }
    }

    .vagas {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 70%; 

        .cartavaga {
            display: flex;
            flex-direction: row; 
            background-color: #e5dbeb;
            width: 100%;
            height: 30vw;
            border-radius: 20px;
            margin-bottom: 2vw;
            box-shadow: 5px 5px #c2b8b8;

            ul {
                width: 100%;
                margin: 0;

                li {
                    font-size: 1.5vw;
                }
            }

            .botoazinhos {
                display: flex;
                justify-content: space-around;
                color: #b54fcf;
                font-size: 1.5vw;
                flex-wrap: wrap;
                width: 60vw;

                .aff {
                    display: flex;
                    align-items: center;
                }
            }

            i {
                font-size: 2vw;
                background-color: #b54fcf;
            }

            .textovaga {
                padding: 2.5vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40vw;

                .texy {
                    padding: 2vw;
                    display: flex;
                    flex-direction: column;
                    gap: 1.8vw;
                    width: 40vw;

                    .profissaovaga {
                        font-size: 2vw;
                        margin: 0;
                        font-family: 'Ubuntu', sans-serif;
                        color: #240a39;
                    }

                    h4 {
                        font-size: 1.6vw;
                        margin: 0;
                    }

                    a {
                        color: #b54fcf;
                        text-decoration: none;
                        font-size: 1vw;
                    }
                }
            }

            .image {
                padding-top: 2vw;
                height: 10vw;

                .vagaimg {
                    width: 30vw;
                    border-radius: 50px;
                    padding: 2vw;
                }

                .botaovagaa {
                    display: flex;
                    background-color: #b54fcf;
                    border-radius: 20px;
                    padding: 0.7vw 4vw;
                    margin: 2vw;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 1.3vw;
                    text-transform: uppercase;
                    font-weight: 600;

                    &:hover {
                        background-color: #9c3bb2;
                    }
                }
            }
        }
    }
}
