.pagina-vagas{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  

    .topo{
 
            margin-top: 20px;


        
        
    }

    
    .botooes{
        display: flex;
        padding: 5vw 2vw;
        align-items: center;
        margin-left: 8vw;
        gap: 50px;
          

        .bb{
            color: rgb(94, 94, 94);
            border-radius: 10px;
            background-color: #E5DBEB;
            padding: 1vw 2vw 1vw 2vw;
            margin: 1vw;
            align-items: center;
           

            .botaobb{
                text-decoration: none;
                color: rgb(94, 94, 94);
                border-radius: 10px;
                align-items: center;
                padding: 1vw 0vw 2vw 0vw !important;
            
            }
            
        }

    }


    .vagas{
     
        display: flex;
        align-items: center;
        justify-content: center;


        .cartavaga{
            display: flex;
            flex-direction: row;
            background-color: #E5DBEB;
            width: 70%;
            height: 30vw;
            border-radius: 20px;
            margin-bottom:  6vw;
            box-shadow: 5px 5px  #c2b8b8;
          

            .botoazinhos{
                display: flex;
                padding: 20px 0px 0px 0px;  
                gap:3vw;
               
                color: #B54FCF;
                
                
            }

            i{
                font-size: 1vw;
                background-color: #B54FCF;
            }
           

            .aff{
                display: flex;
                align-items: center; 
            }

            .textovaga{
                padding: 3vw;
                display: flex;
                flex-direction: column;
                gap: 0.5vw;
                width: 40vw;
            

                .profissaovaga{
                    font-size:2.5vw;
                    font-family: 'Ubuntu', sans-serif;
                    color: #240A39;
                }
                h4{
                    font-size:1.6vw; 
                    margin: 0; 
                }

                a{
                    color: #B54FCF;
                    text-decoration: none;
                    font-size: 1vw;
                }

                @media(max-width: 667px) {

                    .profissaovaga{
                        font-size: 12px;
                    }

                    p{
                        font-size: 8.5px;
                    }
                    a{
                        color: #B54FCF;
                        text-decoration: none;
                        font-size: 9px;
                    }
                   
                }

            }


            .image{
                padding-top: 2vw;

                .vagaimg{
                width: 30vw;
                border-radius: 50px;
                padding: 2vw;
            }

   
            .botaovagaa{
                display: flex;
                background-color: #B54FCF;
                border-radius: 20px;
                padding: 1vw 4vw;
                margin-right: 2vw;
                color: #ffffff;
                text-decoration: none;
                margin-top: 2vw ;
                font-size: 18px; 
                text-transform: uppercase;
                font-weight: 600;
                
            }

                @media(max-width:768px) {
                    .botaovagaa{
                        display: flex;
                        background-color: #B54FCF;
                        border-radius: 25px;
                        padding: 1vw 6vw;
                        color: #ffffff;
                        text-decoration: none;
                        margin-top: 2vw ;
                        font-size: 20px; 
                    }
                    
                }

            }
          

        }

        @media(max-width: 667px) {

            .cartavaga{
                display: flex;
                flex-direction: row;
                background-color: #E5DBEB;
                width: 80vw;
                height: 40vw;
                border-radius: 20px;
                margin: 0vw 0vw 3vw 8vw;
            }

        }
    }
    
    @media (max-width: 667px) and (max-width: 768px) {

        .botooes{
            display: flex;
            padding: 5vw 6vw;
            align-items: center;
            margin: 0vw 6vw;
            gap: 10px;
              
    
            .bb{
                color: rgb(94, 94, 94);
                border-radius: 10px;
                background-color: #E5DBEB;
                padding: 1vw 2vw 1vw 2vw;
                margin: 1vw;
                align-items: center;
               
    
                .botaobb{
                    text-decoration: none;
                    color: rgb(94, 94, 94);
                    border-radius: 10px;
                    align-items: center;
                    padding: 1vw 0vw 2vw 0vw !important;
                
                }
                
            }
        }
   
    }

}