.pagina-vagas{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  

    .topo{
 
            display: flex;
            color: #000000;
            padding: 2vw 0vw 0vw 0vw;
            margin: 0vw 1vw 0vw 5vw;
            padding-left: 16vw;
            z-index: 1000; 
            box-sizing: border-box; 


        .conttopo{
        
            display: flex;
            background-color: #E5DBEB;
            width: 70%;  
            align-items: center;
            text-align: center;
            gap: 5px; 
            justify-content: center;
            padding: 13px 16px;
            border-radius: 28px;

 
        
        h1 {
            font-size: 2.6vw;
            font-family: 'Montserrat';
            font-weight: 800; 
            margin: 0;
        }
        
        .geg {
            height: 60px;
        }}
        
        
    }
    

    
    .botoes{
        display: flex;
        padding: 6vw 8vw;
        align-items: center;
        
        a{
            text-decoration: none;
            color: rgb(94, 94, 94);
            border-radius: 10px;
            background-color: #E5DBEB;
            padding: 20px 20px;
        
        }

        .bb{
           
            margin: 0vw 0vw 0vw 7vw;
            color: rgb(94, 94, 94);
            border-radius: 10px;
            background-color: #E5DBEB;
            padding: 20px 40px;
        
        }

       
    }


    .vagas{
        padding: 0vw 0vw 0vw 3vw;


        .cartavaga{
            display: flex;
            flex-direction: row;
            background-color: #E5DBEB;
            width: 80vw;
            height: 30vw;
            border-radius: 20px;
            margin: 0vw 0vw 3vw 6vw;

            .textovaga{
                padding: 4vw;
                display: flex;
                flex-direction: column;
                gap: 0.5vw;
                width: 50vw;
                a{
                    color: #B54FCF;
                    text-decoration: none;
                }
                
            }

            .image{
                padding-top: 2vw;



                .vagaimg{

                width: 30vw;
                border-radius: 40px;
                padding: 2vw;}

                .botaovaga{
                    background-color: #B54FCF;
                    border-radius: 25px;
                    padding: 1.5vw 10vw;
                    color: #ffffff;
                    text-decoration: none;
                    margin: 0vw 0vw 0vw 4vw;
                   
                }
                
            
            }
          

        }
    }

}