.cabeçalho {
    margin: 0;
    display: flex;
    background-color: rgba(189, 177, 194, 0.863);
    width: 100%;
    align-items: center;
    color: #f5f4f4;
    justify-content: space-between;
    padding: 1vw 0;
    z-index: 1000;
    box-sizing: border-box;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .imh1 {
        display: flex;
        align-items: center;
        margin: 0 auto;

        .h1 {
            font-size: 2rem;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            font-style: normal;
            margin: 0;
            color: #240A39;
        }

        .geg {
            height: 5.5vw;
        }
    }

    .menu-toggle {
        display: none;
        cursor: pointer;
        margin-right: 3vw;
        z-index: 1000;

        .bar {
            display: block;
            width: 5vw;
            height: 0.6vw;
            background-color: #000;
            margin: 0.65vw auto;
            transition: all 0.3s;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(1.7vw) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-0.9vw) rotate(-45deg);
        }
    }

    nav {
        display: flex;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;

            li {
                margin: 0 4.3vw;

                a {
                    color: #000;
                    text-decoration: none;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.3vw;

                    &:hover {
                        color: #ffffff;
                    }

                    i {
                        font-size: 1.3vw; 
                    }
                }

                .robot-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    font-family: 'Urbanist', sans-serif;

                    i {
                        font-size: 1.3vw;
                    }

                    span {
                        font-size: 1.3vw;
                        margin-top: 0.5vw;
                        text-align: center;
                    }

                    &:hover {
                        color: #ffffff;
                    }
                }
            }

            .oi {
                color: #000;
                text-decoration: none;
                font-family: 'Urbanist', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.3vw;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        &.aberto {
            display: block;
            position: absolute;
            top: 7vw;
            left: 0;
            right: 0;
            background-color: #BDB1C2;
            z-index: 999;
            padding: 1vw 0;

            ul {
                flex-direction: column-reverse;
                align-items: center;

                li {
                    margin: 1vw 0;

                    a {
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }

            .imh1 {
                margin: 0 auto;
                justify-content: center;
            }
        }
    }

    .login {
        width: 2.8vw;
        height: 3vw;
    }

    .login:hover {
        filter: brightness(0) invert(1);
    }

    @media (max-width: 768px) {
        .imh1 {
            .h1 {
                font-size: 2rem;
                font-family: 'Urbanist', serif;
                font-weight: 700;
            }

            .geg {
                height: 10vw;
            }
        }

        .menu-toggle {
            display: block;
        }

        nav {
            display: none;
        }

        a{
            font-size: 2vw;
        }

        .login {
            width: 2.8vw;
            height: 3vw;
        }

        .login:hover {
            filter: brightness(0) invert(1);
        }

        nav.aberto .imh1 {
            margin: 0 auto;
            justify-content: center;
        }
    }
    
    @media (max-width: 468px) {
        .imh1 {
            .h1 {
                font-size: 2vw;
                font-family: 'Urbanist', serif;
                font-weight: 700;
            }

            .geg {
                height: 10vw;
            }
        }

        .menu-toggle {
            display: block;
        }

        nav {
            display: none;
        }

        a{
            font-size: 1vw;
        }

        .login {
            width: 2.8vw;
            height: 3vw;
        }

        .robot-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: #000;
            font-family: 'Urbanist', sans-serif;

            i {
                font-size: 2vw;
            }

            span {
                font-size: 2vw;
                margin-top: 0.5vw;
                text-align: center;
            }

       }
    }
}
