.cabeçalho {
    margin: 0;
    display: flex;
    background-color: rgba(189, 177, 194, 0.863);
    width: 100%;
    align-items: center;
    color: #f5f4f4;
    justify-content: space-between;
    padding: 10px 0;
    z-index: 1000;
    box-sizing: border-box;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .imh1 {
        display: flex;
        align-items: center;
        margin: 0 auto;

        .h1 {
            font-size: 2.25vw;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            font-style: normal;
            margin: 0;
            color: #240A39;
        }

        .geg {
            height: 5.5vw;
        }
    }

    .menu-toggle {
        display: none;
        cursor: pointer;
        margin-right: 40px;

        .bar {
            display: block;
            width: 30px;
            height: 4px;
            background-color: #000;
            margin: 5px auto;
            transition: all 0.3s;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
    }

    nav {
        display: flex;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;

            li {
                margin: 0 4.3vw;

                a {
                    color: #000;
                    text-decoration: none;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 17px;

                    &:hover {
                        color: #ffffff;
                    }

                    i {
                        font-size: 10vw; // Ajuste conforme necessário
                    }
                }

                // Estilo para o link do robô
                .robot-link {
                    display: flex;
                    flex-direction: column; // Coloca o texto abaixo do ícone
                    align-items: center; // Centraliza o conteúdo
                    text-decoration: none; // Remove sublinhado
                    color: #000; // Cor padrão do texto e ícone
                    font-family: 'Urbanist', sans-serif;

                    i {
                        font-size: 2rem; // Ajuste o tamanho do ícone
                    }

                    span {
                        font-size: 1rem; // Tamanho do texto "robot"
                        margin-top: 5px; // Espaçamento entre o ícone e o texto
                        text-align: center; // Centraliza o texto
                    }

                    &:hover {
                        color: #ffffff; // Cor ao passar o mouse
                    }
                }
            }

            .oi {
                color: #000;
                text-decoration: none;
                font-family: 'Urbanist', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 17px;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        &.aberto {
            display: block;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            background-color: #BDB1C2;
            z-index: 1000;
            padding: 10px 0;

            ul {
                flex-direction: column-reverse;
                align-items: center;

                li {
                    margin: 10px 0;

                    a {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }

            .imh1 {
                margin: 0 auto;
                justify-content: center;
            }
        }
    }

    .login {
        width: 32px;
        height: 35px;
    }

    .login:hover {
        filter: brightness(0) invert(1);
    }

    @media (max-width: 768px) {
        .imh1 {
            .h1 {
                font-size: 3.50vw;
                font-family: 'Urbanist', serif;
                font-weight: 700;
            }

            .geg {
                height: 10.5vw;
            }
        }

        .menu-toggle {
            display: block;
        }

        nav {
            display: none;
        }

        .login {
            width: 20px;
            height: 25px;
        }

        .login:hover {
            filter: brightness(0) invert(1);
        }

        nav.aberto .imh1 {
            margin: 0 auto;
            justify-content: center;
        }
    }
}
