.tituloelogo {
    margin: 0;
    display: flex;
    background-color: #BDB1C2; 
    width: 100%; 
    align-items: center;
    color: #000000;
    justify-content: center;
    padding: 20px 40px;
    z-index: 1000; 
    box-sizing: border-box; 

.imh1 {
    display: flex;
    align-items: center;
    gap: 10px; 
}


h1 {
    font-size: 2.5vw;
    font-family: 'Ultra', sans-serif;
    font-weight: 400; 
    margin: 0;
    color: #240A39;
}

.geg {
    height: 5vw;
    width: 7vw;
}

@media (max-width: 768px) {

    h1 {
        font-size: 3.5vw;
    }
    
    .geg {
        height: 5vw;
        width: 7.5vw;
    }
    .imh1{
        height: 2vw;
    }
}

@media (max-width: 468px) {

    h1 {
        font-size: 3vw;
    }
    
    .geg {
        height: 7vw;
        width: 10vw;
    }
    .imh1{
        height: 2vw;
    }
}

}