.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        background-color: #E5DBEB;
        width: 25vw;
        height: 32vw;
        margin: 10px;
        transition: transform 0.2s;

        img {
            width: 100%;
            height: auto;

        }

        .texto {
            margin: 1vw 4vw;

            h1 {
                text-align: start;
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                font-size: 2vw;
                margin: 0;
            }

            ul {
                align-items: start;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2vw;
                width: 100%;
                padding: 1vw;
                margin: 0;

            }
        }
    }

    @media (max-width: 768px) {
        .card {
            width: 40vw;

            height: auto;
        

        .texto{
            align-self: center;
          
        }

        img {
            width: 100%;
            height: auto;
        }}
    }

    @media (max-width: 480px) {
        .card {
            width: 40vw;
            height: auto;

        }

        .texto {
               align-self: center;
            h1 {
                font-size: 4vw;
            }

            ul {
                font-size: 1em;
            }

        
        }

    }
}