.cards{

    display: flex;
    flex-direction: column;
 
    


    .card{
    background-color: #E5DBEB;
    width:  25vw;
    height:32vw;
    img{
        width: 25vw;
    }
    .texto{
        margin: 20px;
         h1{
        margin-left: 20px;
        text-align: start;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 2vw;
    }
    ul{
        align-items: start;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        width: 15vw;
    }
}}
   
}