.pagina-confirmados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tituloelogo {
        width: 80%;
        margin: 10vh;
    }

    .terceira-parte {
        position: relative; 
        border: 1px solid #BDB1C2;
        border-radius: 20px;
        padding: 2vh 14%; /* Ajuste responsivo com vh e vw */
        margin-top: 2rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;

        h1 {
            font-family: 'Ultra', sans-serif;
            font-size: 3.7vw;
            font-weight: 400;
            color: #D60BB5;
            text-align: left;
            margin-bottom: 3vw ;
        }

        .vagas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #380f5a;
                font-size: 1.5vw;
                margin-bottom: 1vw;
            }

            .div-grande {
                display: flex;
                flex-direction: column;

                .grande {
                    width: 48vw;
                    height: 3.5vw;
                    border-radius: 1.5vw;
                    border: 2px solid #C7C4C4;
                    margin-bottom: 2rem;
                    outline: none;
                    padding: 2px 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.3vw;
                    color: #313131;
                    font-weight: 500;
                    box-shadow: 0px 5px 3px #e6e6e6;
                }
            }

            .duo {
                display: flex;
                align-items: center;
                gap: 1vw;

                div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;

                    .pequeno {
                        width: 22.5vw;
                        height: 3.5vw;
                        border-radius: 1.5vw;
                        border: 2px solid #C7C4C4;
                        outline: none;
                        padding: 2px 10px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.3vw;
                        color: #313131;
                        font-weight: 500;
                        box-shadow: 0px 5px 3px #e6e6e6;
                    }
                }
            }

            textarea {
                width: 48vw !important;
                height: 16vw !important;
                border-radius: 1.5vw;
                border: 2px solid #C7C4C4;
                outline: none;
                padding: 10px 10px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3vw;
                color: #313131;
                font-weight: 500;
                margin-bottom: 1.8rem;
                box-shadow: 0px 5px 3px #e6e6e6;
            }

            .botao {
                position: absolute; 
                bottom: -1.6rem; 
                left: 50%; 
                transform: translateX(-50%);
                display: flex;
                justify-content: center; 
                align-items: center;

                button {
                    display: flex;
                    padding: 0.5vw 4vw; /* Mantém o padding responsivo */
                    background-color: #B54FCF;
                    border-radius: 1.3vw;
                    border: 5px solid #B54FCF;
                    color: #fff;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1.5vw; /* Tamanho base da fonte */
                    font-weight: 600;
                    transition: 0.3s ease-in-out;
                    margin-left: 1vh;
                }

                button:hover {
                    background-color: #240A39;
                    color: white;
                    transform: translateY(-2px);
                    transition: all 0.3s ease;
                    border: 5px solid #240A39;
                }
            }
        }

        @media (max-width: 768px) {
            padding: 3vh 9%; 
            margin-top: 0.3rem;
            
            .vagas {
                label {
                    font-size: 2.3vw;
                }

                .div-grande {
                    .grande {
                        width: 70vw;
                        height: 5vw;
                    }

                    textarea {
                        width: 70vw !important;
                        height: 20vw !important;
                    }
                }

                .duo {
                    div {
                        .pequeno {
                            width: 33vw;
                            height: 5vw;
                        }
                    }
                }

                .botao {
                    bottom: -1rem; 
                    button {
                        padding: 1vw 4.1vw; 
                        font-size: 3vw; 
                    }
                }
            }
        }

        @media (max-width: 468px) {
            padding: 4vh 15%; /* Aumenta o padding em telas ainda menores */
            
            .vagas {
                label {
                    font-size: 3.5vw;
                }

                .div-grande {
                    .grande {
                        width: 80vw;
                        height: 8vw;
                    }

                    textarea {
                        width: 80vw !important;
                        height: 30vw !important;
                    }
                }

                .duo {
                    div {
                        .pequeno {
                            width: 37vw;
                            height: 8vw;
                        }
                    }
                }

                .botao {
                    bottom: 0; 
                    button {
                        padding: 3.5vw 8.5vw; 
                        font-size: 4vw; 
                    }
                }
            }
        }
    }
}
