.pagina-vagasadmin{
    min-height: 100vh;

    .botooes1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vw;
        gap: 3vw;

        .input-container {
            position: relative;
            width: 65%; 
            display: flex;
            align-items: center;
            margin: 2vw 0vw;

            .oi {
                position: absolute;
                left: 1.5vw;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(94, 94, 94);
                font-size: 1.5vw;
                pointer-events: none;
            }

            .botaobb{
                width: 100%;
                padding: 1vw 1.5vw 1vw 4vw;
                font-size: 1.3vw;
                border: none;
                outline: none;
                background-color: #e5dbeb;
                border-radius: 1.5vw !important;
                color: rgb(94, 94, 94);
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease;

                &:focus {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                }
            }

            button {
                margin-left: 1vw;
                padding: 1vw 1.5vw; 
                font-size: 1.2vw; 
                background-color: #b54fcf;
                color: #fff;
                border: none;
                border-radius: 1vw;
            }
        }
        .vagas {
          
            width: 60vw;
            padding: 3vw;
            background-color: #E5DBEB;
            border-radius: 1vw;
            display: flex;
            flex-direction: column;
            gap: 2vw;
        
            .titulo {
                display: flex;
                align-items: center;
                gap: 3vw;
                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.7vw;
                    font-weight: 700;
                    color: black;
                }
        
            }
            .curriculos {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2vw;
        
                button {
                    background-color: #B54FCF;
                    padding: 0.8vw 2.3vw;
                    border: 0.3vw solid #B54FCF;
                    border-radius: 1vw;
                    color: #ffffff;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.2vw;
                    font-weight: 700;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                }
                button:hover {
                    background-color: #E5DBEB;
                    color: #030303;
                    transform: translateY(-2px);
                }
            }
        
            .tempo {
                display: flex;
                justify-content: right;
        
                h2 {
                    color: #2c2c2c;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 1.5vw;
                }
            }
           }
        
          

            
           
            button {
                padding: 1vw 5vw;
                background-color: #B54FCF;
                border-radius: 1.3vw;
                border: 5px solid #B54FCF;
                color: #fff;
                font-family: 'Ubuntu', sans-serif;
                font-size: 1.5vw;
                font-weight: 600;
                transition: 0.3s ease-in-out;
            }
        
            button:hover{
                
                    background-color: #240A39;
                    color: white;
                    transform: translateY(-2px);
                    transition: all 0.3s ease;
                    border: 5px solid #240A39;
                   
                  
            }
           
    }

    @media (max-width: 768px) {

       .botooes1 {

        .vagas {
            width: 70vw;
            padding: 4vw;
            gap: 2vw;
            .titulo {
               
                h1 {
                    font-size: 2.5vw;
                   
                }
        
            }
            .curriculos {
            
                button {
                    padding: 1vw 3vw;
                    font-size: 1.6vw;
                 
                }
              
            }
            .tempo {
            
                h2 {
                  
                    font-size: 2vw;
                }
            }
        }

        button {
            padding: 1.5vw 7vw;
            font-size: 2vw;
           
        }

        .input-container {
            width: 75%; 
            align-items: center;
            margin: 2vw 0vw;

            .oi {
                left: 1.5vw;
                top: 50%;
                font-size: 2vw;
            }

            .botaobb{
                width: 100%;
                padding: 2.5vw 1.5vw 2.5vw 4vw;
                font-size:2.5vw;

            }

            button {
                margin-left: 1vw;
                padding: 2vw 2.5vw; 
                font-size: 2.5vw; 
                border-radius: 1vw;
            }
        }
    
       }
        
    }

    @media (max-width: 476px) {
        
        .botooes1 {

            .vagas {
                width: 70vw;
                padding: 5vw;
                gap: 2.5vw;
                .titulo {
                   
                    h1 {
                        font-size: 3vw;
                       
                    }
            
                }
                .curriculos {
                
                    button {
                        padding: 1.5vw 3vw;
                        font-size: 2vw;
                     
                    }
                  
                }
                .tempo {
                
                    h2 {
                      
                        font-size: 2.5vw;
                    }
                }
            }
            
            button {
                padding: 1.5vw 7vw;
                font-size: 2.5vw;
            
            }
            
        .input-container {
            width: 75%; 
            align-items: center;
            margin: 2vw 0vw;

            .oi {
                left: 1.5vw;
                top: 50%;
                font-size: 2vw;
            }

            .botaobb{
                width: 100%;
                padding: 2.5vw 1.5vw 2.5vw 4vw;
                font-size:2.5vw;

            }

            button {
                margin-left: 1vw;
                padding: 2vw 2.5vw; 
                font-size: 2.5vw; 
                border-radius: 1vw;
            }
        }
        
        .input-container {
            width: 80%; 
            align-items: center;
            margin: 2.5vw 0vw;

            .oi {
                left: 2.3vw;
                top: 50%;
                font-size: 2.5vw;
            }

            .botaobb{
                width: 100%;
                padding: 2.5vw 1.5vw 2.5vw 5vw;
                font-size:3vw;

            }

            button {
                margin-left: 1vw;
                padding: 2.5vw 3vw; 
                font-size:3vw; 
                border-radius: 1vw;
            }
        }
    
           }
    }


   
}