footer {
    background-color: #2C2C2C;
    padding: 3vw 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
    justify-content: end;
    align-items: end;




    .footer-content {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 5vw;

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left:  2vw;

            img {
                width: 8vw;
                filter: brightness(0) invert(1);

            }

            span {
                font-size: 1.5vw;
                font-weight: 200;
                color: #d8d6d6;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 20px;
            margin-top:3%;

            .text {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1vw;

                .h3 {
                    font-size: 1.5vw;
                    font-weight: 700;
                    color: #e0dede;
                }

                .p {
                    margin: 0;
                    font-size: 1.5vw;
                    color: #ccc;
                    margin-bottom: 2.45px;
                }

            }

            .footer-bottom {
                width: 90%;
                border-top: 1px solid #e9e8e8b2;
                padding: 18px 0px 0px 0px;
                text-align: center;
                font-size: 1.5vw;
                color: #bbb;

                .p {
                    margin: 0;
                    font-weight: 600;
                    color: #e0dede;
                }
            }

        }
    }


}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 0px !important;
        padding-left: 0;

        .contact {
            margin-top: 15px;

            text-align: center;

            .text { 
                text-align: center;
            }
        }

        .logo {
            margin-left:0px !important;
         }

    }

    

    .footer-bottom {
        width: 90%;
    }


    

}

@media (max-width: 468px) {
    .footer-content {
        flex-direction: column;
        text-align: center !important;
        gap: 0px !important;
        padding-left: 0;

        .contact {
            margin-top: 1.5vw;
            text-align: center;

            .text { 
                text-align: center;
            }
        }

        .logo {
            margin-left:0px !important;
            width: 10vw;
         }

    }

    

    .footer-bottom {
        width: 90%;
    }
}