body{

}

.saibamais{
    margin: 5vw;
    background-color: #E5DBEB;
    padding: 3vw;
    border-radius: 20px;

    .profissao{
        display: flex;
        flex-direction: row;

        .profitexto{
            width: 40vw;
        }
        .profibotao{
            padding: 10vw;
        }
    }




    .textos-saibamais{
        
    }

}