.pagina-inicio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


   
     .faixa {

        height: 45.9vw;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        .texto-faixa {
            display: flex;
            justify-content: space-between;
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 6vw;
            h2 {
                font-family: 'Urbanist', sans-serif;
                font-weight: 700;
                color: #6E2275;
                font-size: 4vw;
            }
            
        }
        
     }

    

     .recrutando {
        background-color: #ffffff;
        margin: 0;
        padding-bottom: 5%;
        height: 100%;
        position: relative;

        .conteudo {
            padding: 5% 7% 19% 7%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            background-image: url('data:image/svg+xml;utf8,<svg width="1437" height="752" viewBox="0 0 1437 752" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H1440V607L713.522 752L0 607V0Z" fill="%23E5DBEB"/></svg>');
            background-size: cover;
            background-repeat: no-repeat;
            gap: 3vw;

            img {
                border-radius: 40px;
                width: 57vw;
                height: auto;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-self: center;
                gap: 2vw;
                height: auto;
                width: 40vw;

                h1 {
                    font-size: 2vw;
                    width: 15vw;
                    margin: 0;
                }

                p {
                    font-size: 1.7vw;
                    color: #524E4E;
                    margin: 0;
                    line-height: 1.5;
                }

                a {
                    text-decoration: none;
                }

                .link {
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    margin-right: 40px;
                    text-decoration: none;
                    gap: 0.5vw;
                    font-size: 2.5vw;

                    p {
                        color: #8822A1;
                    }

                    img {
                        width: 2vw;
                        height: 2vw;
                        margin-bottom: 1.5px;
                    }
                }
            }
        }

        

       
    }

    

    .cartaovaga {
        .cartao {
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            gap: 6vw;
            align-items: center;
            padding-top: 5vw;
            padding-left: 5vw;
            font-family: 'Montserrat', sans-serif;
          

          
            @media (max-width: 768px) {
                flex-direction: column; 
                align-items: center; 
                gap: 2vw;    
                flex-wrap: wrap;
                padding-left: 1vw;


               
            }
        }
    
       .mostrar {
        display: flex;
        justify-content: end;
        align-items: end;
        padding-right: 4vw;
        padding-bottom: 2vw;
        a {
            display: flex;
            align-items: center;
            gap: 0.5vw;
            text-decoration: none;

            h3 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 1.5vw;
                color: #000;
            }
           
            img {
                width: 2vw;
            }
        }

        @media (max-width: 768px) {
            
                display: flex;
                justify-content: center;
                align-items: center;
            
            
        }
     
       }
    
    }

        .pilares {
            display: flex;
            margin: 3vw 0vw 3vw 0vw;

            @media (max-width: 768px) {
               
                display: flex;
                flex-direction: column;
                gap: 2vw;
                justify-content: center;
                align-items: center;
                
            }

           
        }  

        .ultima {
                background-color: #E5DBEB;
                width: 100%;
                height: 45vw;
                position: relative;
                background-size: 90%;
                background-repeat: no-repeat;
                

                .consultor {
                    width: 45vw;
                    height: 20vw;
                    margin-left: 4vw;
                    padding-top: 5vw;

                    .frase {
                        display: flex;
                        align-items: center;

                        img {
                            height: 7vw;
                        }

                        h1 {
                            font-family: 'Ubuntu', sans-serif;
                            font-weight: 400;
                            font-size: 2vw;
                            color: #240A39;
                        }
                    }

                    .botao {
                        background-color: #B54FCF;
                        border: 5px solid #B54FCF;
                        padding: 1.6vw 3.4vw;
                        border-radius: 50px;
                        margin-left: 8vw;

                        font: 600 1.5vw 'Ubuntu';
                        color: #fff;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                    }

                    .botao:hover {
                        background-color: #E5DBEB;
                        border: 5px solid #B54FCF;
                        color: #000;
                    }
                }

                    .ultima-imagem {
                        width: 50vw;
                        height: 35vw;
                        position: absolute;
                        right: 5vw;
                        bottom: 0;
                    }




           @media (max-width: 768px) {

          

            .consultor {
                width: 60vw;
                height: 20vw;
                margin-left: 4vw;
                padding-top: 5vw;

                .frase {

                    h1 {
                        font-size: 3vw;
                    }

                }
               


            }

            .botao {
                font-size: 3vw;
            }
            
           }         

           @media (max-width: 468px) {


            height: 55vw;

            .consultor {

                width: 90vw;
                .frase {
                    img {
                        height: 9vw;
                    }
                    h1 {
                        font-size: 4.5vw;
                    }
                }

                
            .botao {

                padding: 3vw 3vw;
                font-size: 3vw;
            }
            }

           }
     }


  
}