.pagina-inicio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



    .faixa {
        height: 50vw;
        background-repeat: no-repeat;
        background-color: #EFCAFE;
        background-size: contain;
        background-position: center;

        .texto-faixa {
            display: flex;
            justify-content: space-between;
            padding-left: 19vw;
            padding-right: 15vw;
            padding-top: 4.7vw;

            h2 {
                font-family: 'Urbanist', sans-serif;
                font-weight: 700;
                color: #6E2275;
                font-size: 3.5vw;
            }
        }
    }




    .recrutando {
        background-color: #ffffff;
        margin: 0;
        padding: 3% 0;
        height:100%;
        position: relative;
       justify-content: center;

        .conteudo {
           
            display: flex;
            padding: 2%;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            position: relative;
            background-color: #E5DBEB;
            gap: 5vw;

            .imseg {
                width: 45vw;
                height: 26vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2vw;
                background-color: #ffffff;

                img {

                    width: auto;
                    height: 24vw;
                    border-radius: 2vw;
                }
            }


            .text {
                display: flex;
                flex-direction: column;
                align-self: center;
                gap: 2vw;
                height: auto;
                width: 40vw;

                h1 {
                    font-size: 2vw;
                    margin: 0;
                }

                p {
                    font-size: 1.5vw;
                    color: #252525;
                    margin: 0;
                    line-height: 1.5;
                }

                a {
                    text-decoration: none;

                    .link {
                        display: flex;

                        justify-content: start;
                        margin-right: 40px;
                        text-decoration: none;
                        gap: 0.5vw;
                        font-size: 1vw;
                        align-items: center;


                        p {
                            color: #8822A1;
                        }
                    
                        svg:not(:host).svg-inline--fa,
                        svg:not(:root).svg-inline--fa {
                            overflow: visible;
                            box-sizing: content-box;
                            font-size: 1.3vw;
                            margin-top: 0.3vw;


                        }
                        .img:hover{
    
                     
                            transform: translateX(0.4vw);
                            transition: all 0.5s ease;
                         
                          
                    
                        }
                       
                    }
                
                }

            }
        }




    }
    
    @media(max-width: 468px){
    .faixa{
        width: 100%;
        height: 70vw;
    }
    .recrutando { 
        align-items: center;
        justify-content: center;
        display: flex;
        .conteudo{
            border-radius: 3vw;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        .text{
            h1{
                font-size: 2.8vw;
            }
            p{
                font-size: 2.5vw;
            }
        }
      .imseg{
        margin-top: 2vw;
        height: 40vw;
        img{
            height: 35vw;
        }
      }
    }}
}




    .cartaovaga {
        .cartao {
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            gap: 6vw;
            align-items: center;
            padding-top: 5vw;
            padding-left: 5vw;
            font-family: 'Montserrat', sans-serif;



            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                gap: 2vw;
                flex-wrap: wrap;
                padding-left: 1vw;



            }
        }

        .mostrar {
            display: flex;
            justify-content: end;
            align-items: end;
            padding-right: 4vw;
            padding-bottom: 2vw;

            a {
                display: flex;
                align-items: center;
                gap: 0.5vw;
                text-decoration: none;

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 1vw;
                    color: #000;
                    margin: 0;
                }

                img {
                    width: 1.5vw;
                    margin-bottom: 0.2vw;
                }
                img:hover{
    
                     
                    transform: translateX(0.4vw);
                    transition: all 0.5s ease;
                 
                  
            
                }
            }

            @media (max-width: 768px) {

                display: flex;
                justify-content: center;
                align-items: center;


            }

        }

    }

    .pilares {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 3vw 0vw;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 2vw;
            justify-content: center;
            align-items: center;
        }
    }

    .ultima {
        background-color: #E5DBEB;
        width: 100%;
        height: 45vw;
        position: relative;
        background-size: 90%;
        background-repeat: no-repeat;

        @media (max-width: 468px) {
            background-size: 90%;
            background-position: bottom !important;
       
           
      
           
        }


        .consultor {
            width: 45vw;
            height: 20vw;
            margin-left: 4vw;
            padding-top: 5vw;

            .frase {
                display: flex;
                align-items: center;

                img {
                    height: 7vw;
                }

                h1 {
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 400;
                    font-size: 2vw;
                    color: #240A39;
                }
            }

            .botao {
                background-color: #B54FCF;
                border: 5px solid #B54FCF;
                padding: 1.6vw 3.4vw;
                border-radius: 50px;
                margin-left: 8vw;

                font: 600 1.5vw 'Ubuntu';
                color: #fff;
                cursor: pointer;
                transition: 0.2s ease-in-out;
            }

            .botao:hover {
                background-color: #E5DBEB;
                border: 5px solid #B54FCF;
                color: #000;
            }
        }

        .ultima-imagem {
            width: 50vw;
            height: 35vw;
            position: absolute;
            right: 5vw;
            bottom: 0;


            
        }




        @media (max-width: 768px) {



            .consultor {
                width: 60vw;
                height: 20vw;
                margin-left: 4vw;
                padding-top: 5vw;

                .frase {

                    h1 {
                        font-size: 3vw;
                    }

                }



            }

            .botao {
                font-size: 3vw;
            }

        }

        @media (max-width: 468px) {


            height: 55vw;

            .consultor {

                width: 90vzw;

                .frase {
                    img {
                        height: 9vw;
                    }

                    h1 {
                        font-size: 4.5vw;
                    }
                }


                .botao {

                    padding: 3vw 3vw;
                    font-size: 3vw;
                }
            }

        }
    }


}