.pagina-interessados{

    
    
    


.cards-interessados{
    display: flex;
    flex-wrap: wrap;
    margin: 3vw 0vw 0vw 10vw;
    gap: 5vw;

}

.visaogeral{

    
    background-color:#E5DBEB;
    display: flex;
    flex-wrap: wrap;
    margin: 3vw 0vw 0vw 9vw;
    padding: 2vw;
    gap: 3vw;
    width: 77vw;
    border-radius: 10px;
    



    
}

.metas {
    display: flex;
    justify-content: space-between;
   
    margin: 4vw 9vw;

    img {
        width: 30vw;
    }

    .resultado {
        width: 20vw;
        height: 25vw;
        padding: 2vw;
        border-radius: 2vw;
        background-color: #E5DBEB;


        h1 {
            font-family: 'Ubuntu', sans-serif;
            font-size: 2vw;
            color: #4a1569;
        }
        p {
            font-size: 1.2vw;
            color: #230733;
            font-weight: 400;
        }
    }
}

.ultima-parte-notas {
    display: flex;
    flex-direction: column;
    margin: 3vw 9vw 0vw 9vw;

    .nova-nota {
        background-color: #E5DBEB;
        padding: 2vw 10vw;
        display: flex;
        flex-direction: column;
        border-radius: 1vw;

        .titulo-notas {

            display: flex;
            align-items: center;
            gap: 2vw;

            h1 {
            font-family: 'Ubuntu', sans-serif;
            color: #230733;
            font-weight: 700;
            font-size: 2vw;
            }

            button {
                display: flex;
                gap: 0.5vw;
                background-color: #B54FCF;
                color: #fff;
                font-weight: 600;
                border-radius: 0.5vw;
                border: none;
                padding: 1vw 2vw;
                font-size: 0.8vw;
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }
            button:hover {
                background-color: #240A39;
                transform: translateY(-2px);
            }

        }

        
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 3vw;

            div {
                display: flex;
                align-items: center;
                gap: 2vw;

                input {
                    width: 25vw;
                    height: 3vw;
                    border-radius: 1vw;
                    border: 0.2vw solid #cdbdd6;
                    padding: 0.5vw 1vw;
                    outline: none;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.3vw;
                    color: #230733;

                    
                }
            }

            textarea {
                width: 54vw !important;
                height: 10vw !important;
                border-radius: 1vw;
                border: 0.2vw solid #cdbdd6;
                padding: 0.5vw 1vw;
                outline: none;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3vw;
                color: #230733;
            }
        }
    }

    .notas-adicionadas {

        .card-nota {
            background-color: #F6E9F9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20vw;
            height: 15vw;
            padding: 2vw;
            border-radius: 1.5vw;

            #check {
                margin-left: 17vw;
            }

            .titulo {
                display: flex;
                align-items: center;
                gap: 1vw;

                img {
                    width: 3vw;
                    height: 3vw;
                }

                h1 {
                    font-family: 'Ultra', sans-serif;
                    font-size: 1.3vw;
                    font-weight: 500;
                }
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2vw;
            }

        }
    }
}

    
}