
.comp-titulo {

    .topo{
 
   margin-top: 2vw;
   margin-left: 9vw;
   margin-right: 9vw;
   

    div {
        background-color: #E5DBEB;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw 2vw;
        

        img {
            width: 8.5vw;
        }
        h1 {
            font-family: 'Ultra', sans-serif;
            font-weight: 500;
            font-size: 2vw;
            color: #240A39;
            text-transform: uppercase;
        }
    }


}
}

