.pagina-falecomconsultor {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .ultimo{
        
            width: 60vw;
            height: 40vw;
            background-position: center;
            background-repeat: no-repeat;
            align-items: center;
            justify-content: center;
            position: relative;
            background-size: 60vw;
            margin-left: 20%;

            .preencha{
                    font-size: 1.5vw;
                    font-weight: 600;
                    padding: 2VW;
                }
            .conteudo{
                padding: 2vw;
                padding-left: 4vw;

                .choquei{
                    display: flex;
                    flex-direction: row;

                .inputs{
                    display: flex;
                    flex-direction: column;
                   
                    .oioio{
                        padding: 0vw 2vw;
                        width: 100%;
                        height: 35%;
                        border-radius: 30px;
                        background-color: #ffffffc5;
                        border: 0.2vw solid #EFCAFE;
                        font-size: 2vw;
                        outline: none;
                    }
                    p{
                        font-size: 1.7vw;
                        font-weight: 900;
                    }
                }
                .botao{
                    button{
                        background-color: #B54FCF;
                        border: 1px solid #B54FCF;
                        color: #ffffff;
                        padding: 1.5vw 2vw;
                        border-radius: 30px;
                        font-size: 1vw;
                        font-weight: 900;
                        margin-top: 15vw;
                        margin-left: 20vw;
                    }
                }
            }
            }
            }
///fim do ultimo
        .primeira-parte {
        width: 100%;
        height: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EFCAFE;
    
        img {
           
            height: 40vw;
        }
    }
//fim da primeira parte
    .segunda-parte {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6vw;
        padding-bottom: 5vw;

        .primeira-div {
            display: flex;
            align-items: center;
            padding-top: 3vw;
            padding-left: 5vw;
            gap: 10vw;

            .geg-img {
                width: 30vw;
               
            }
            
            .texto {
                width: 30vw;
                
               
                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 2vw;
                    font-weight: 100;
                    line-height: 120%;
                }
            }
        }

        .segunda-div {
            display: flex;
            align-items: center;
            gap: 10vw;
            .filhos {
                width: 25vw;
                 gap: 2vw;
                display: flex;
                align-items: center;
                .img-filho {
                    height: 12vw;
                }

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 800;
                    font-size: 1.5vw;
                    color: #B314DB;
                }


              
            }
        }}

       
///responsivo primeiras partes
        @media (max-width: 768px) {
            gap: 3vw;
          

            .primeira-div {
                .texto {

                    width: 35vw;

                    p {
                        font-size: 2.5vw;
                    }
                }
                .geg-img {
                    width: 35vw;
                }
            }

            .segunda-div {

                .filhos {
                    width: 30vw;

                    h3 {
                        font-size: 2vw;
                    }
                }
            }

        }


//card final


        @media (max-width: 768px) {
    .ultimo{
        
        width: 75vw;
        height: 50vw;
        background-size: 75vw;
        margin-left: 15%;
    
        .preencha{
        font-size: 2.5vw;
        padding: 1vw;
        }
        .conteudo{
            padding: 2vw;
            padding-left: 4vw;
    
            .choquei{
                       
                .inputs{      
                .oioio{
                padding: 1vw 2vw;
                width: 100%;
                height: 35%;
                border-radius: 30px;
                font-size: 2.5vw;
                 }
                            p{
                            font-size: 2.5vw;
                            font-weight: 900;
                            width: 27vw;
                            }
                        }
                  .botao{
                            button{
                            padding: 2vw 3vw;
                            font-size: 1.7vw;
                            margin-top: 15vw;
                            margin-left: 20vw;
                            }
                        }
            }
        }
    }    
        }
        

    
    
    @media (max-width: 468px) {
margin: 0%;
    
        

        .primeira-div {

            display: flex;
            flex-direction: column-reverse;
            gap: 0vw;

            .texto {

                width: 100%;

                p {
                    font-size: 4vw;
                }

               
            }
            .geg-img {
                width: 90%;
            }
         }

         .segunda-div {
            display: flex;
            flex-direction: column;

            .filhos {
                width: 60vw;

                .img-filho {
                    height: 20vw;
                }

                h3 {
                    font-size: 4vw;
                }
            }
        }
      
        
    }


@media (max-width: 468px) {
    margin: 0;
    .ultimo{
        
        width:90%;
        height: 70vw;
        background-size: 80vw;
       margin: 0% !important;
   
    
        .preencha{
        font-size: 3vw;
        padding-left: 5vw;
        padding-top: 10vw;
        }
        .conteudo{
            padding: 1vw;
            padding-left: 15vw;
            display: flex;
               
            .choquei
            {

            align-items: end; 
            display: flex;                      
                .inputs{ 

                .oioio{
           
                width: 70%;
                height: 35%;
                border-radius: 30px;
                font-size: 3vw;
                            }
                            p{
                            font-size: 2.5vw;
                            font-weight: 900;
                            color: #2a0d36;
                            width: 26vw;
                            }
                        }
                    .botao{
                            button{
                            padding: 2vw 2.5vw;
                            width: 20vw;
                            font-size: 2vw;
                            margin-top: 15vw;
                            margin-left: 10vw;
                            }
                        }
            }
        }
    }    

   
  
    
}


   
}