.pagina-confirmados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tituloelogo {
        width: 80%;
        margin: 10vh;
    }

    .terceira-parte {
        position: relative; 
        border: 1px solid #BDB1C2;
        border-radius: 20px;
        padding: 2vh 14%; 
        margin-top: 2rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;

        h1 {
            font-family: 'Ultra', sans-serif;
            font-size: 3vw;
            font-weight: 400;
            color: #D60BB5;
            text-align: left;
            margin-bottom: 3vw;
        }

        .aprovado {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            background-color: #8D60B2;
            color: #fff;
            border: none;
            border-radius: 0.5vw;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            box-shadow: 3px 3px 5px #4d4d4d;
           
        }

        .vagas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #380f5a;
                font-size: 1.5vw;
                margin-bottom: 1vw;
            }

            .div-grande {
                display: flex;
                flex-direction: column;

                .grande {
                    width: 46vw;
                    height: 0.5vw;
                    border-radius: 1.5vw;
                    border: 2px solid #C7C4C4;
                    margin-bottom: 2rem;
                    outline: none;
                    padding: 1.5vw;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.3vw; 
                    color: #313131;
                    font-weight: 500;
                    box-shadow: 0px 5px 3px #e6e6e6;
                }
            }

            .duo {
                display: flex;
                align-items: center;
                gap: 1vw;

                div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;

                    .pequeno {
                        width: 21vw;
                        height: 0.5vw;
                        border-radius: 1.5vw;
                        border: 2px solid #C7C4C4;
                        outline: none;
                        padding: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.3vw; 
                        color: #313131;
                        font-weight: 500;
                        box-shadow: 0px 5px 3px #e6e6e6;
                    }
                }
            }

            textarea {
                width: 45vw !important;
                height: 14vw !important;
                border-radius: 1.5vw;
                border: 2px solid #C7C4C4;
                outline: none;
                padding: 2vw;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3vw; 
                color: #313131;
                font-weight: 500;
                margin-bottom: 1.8rem;
                box-shadow: 0px 5px 3px #e6e6e6;
            }

            .grandee {
                width: 45vw !important;
                height: 5vw !important;
                padding: 2vw;
            }

            .botao {
                position: absolute;
                bottom: -1.6rem;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    display: flex;
                    padding: 0.5vw 4vw;
                    background-color: #B54FCF;
                    border-radius: 1.3vw;
                    border: 5px solid #B54FCF;
                    color: #fff;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1.5vw; 
                    font-weight: 600;
                    transition: 0.3s ease-in-out;
                    margin-left: 1vh;
                }

                button:hover {
                    background-color: #240A39;
                    color: white;
                    transform: translateY(-2px);
                    transition: all 0.3s ease;
                    border: 5px solid #240A39;
                }
            }
        }

      
        @media (max-width: 1200px) {
            .div-grande {
                .grande {
                    width: 46vw;
                    height: 0.5vw;
                    font-size: 2vw; 
                }

                textarea {
                    width: 46vw !important;
                    height: 20vw !important;
                    font-size: 2vw; 
                }
            }

            .duo {
                div {
                    .pequeno {
                        width: 21vw;
                        height: 0.5vw;
                        font-size: 2vw; 
                    }
                }
            }
        }

        @media (max-width: 768px) {
            padding: 3vh 9%;
            margin-top: 0.3rem;

            .vagas {
                label {
                    font-size: 2.3vw;
                }

                .div-grande {
                    .grande {
                        width: 70vw;
                        height: 5vw;
                        font-size: 3vw; 
                    }

                    textarea {
                        width: 70vw !important;
                        height: 20vw !important;
                        font-size: 3vw; 
                    }
                }

                .duo {
                    div {
                        .pequeno {
                            width: 33vw;
                            height: 5vw;
                            font-size: 3vw; 
                        }
                    }
                }

                .botao {
                    bottom: -1rem;
                    button {
                        padding: 1vw 4.1vw;
                        font-size: 3vw; 
                    }
                }
            }
        }

        @media (max-width: 468px) {
            padding: 4vh 15%;

            .vagas {
                label {
                    font-size: 3.5vw; 
                }

                .div-grande {
                    .grande {
                        width: 80vw;
                        height: 8vw;
                        font-size: 4vw; 
                    }

                    textarea {
                        width: 80vw !important;
                        height: 30vw !important;
                        font-size: 4.5vw; 
                    }
                }

                .duo {
                    div {
                        .pequeno {
                            width: 37vw;
                            height: 8vw;
                            font-size: 4vw; 
                        }
                    }
                }

                .botao {
                    bottom: 0;
                    button {
                        padding: 3.5vw 8.5vw;
                        font-size: 5vw; 
                    }
                }
            }
        }
    }
}
